{% for block in section.blocks %}
  <div
    class="{{section.settings.text-align}}"
    style="background-color: {{block.settings.bg_color}}; color: {{block.settings.text_color}}"
  >
    {{ block.settings.text }}
  </div>
{% endfor %}

{% schema %}
{
  "name": "announcement-bar",
  "max_blocks": 12,
  "class": "announcement-bar-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "select",
      "id": "text-align",
      "label": "Text alignment",
      "options": [
        {
          "value": "text-left",
          "label": "Text Left"
        },
        {
          "value": "text-center",
          "label": "Text Center"
        },
        {
          "value": "text-right",
          "label": "Text Right"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "text"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background color",
          "default": "#f8f8f8"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#333333"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.announcement-bar.presets.name",
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}
